*{
    padding: 0;
    margin: 0;
    box-sizing:content-box;
}

#calc{
    display: inline-block;
    margin: 10% 45%;
    padding: 10px;
    border: solid black;

}

.title{
    display: block;
    margin-left: 30%;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.botones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}
.teclado{

}