*{
    padding: 0;
    margin: 0;
    box-sizing:content-box;
}

#calc{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .title{
    display: flex;
    align-items: center;
} */